
@font-face {
    font-family: 'android';
    src: url(fontes/idroid.otf);
}

body{
    background-color: #84E1AD;
}

header{
    background-color: #195B38;
    background-image: linear-gradient( to top, #195B38, #3bd683);
    margin: -8px;
}

header > p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.267);
}

nav > a{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 10px;
}

h1{
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.267);
    margin: 0px;
    text-align: center;
    padding: 20px;
}

main{
    background-color: white;
    margin:8px 100px;
    padding: 5px 20px ;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 30px;
}

main > p{
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 30px;
    text-align: justify;
}

h2{
    background-color: #3bd68371;
    font-family: android;
    color:#195B38;
}

h3{
    background-color: #3bd68371;
    font-family: android;
    color: #195B38;
}

#robo{
    margin: 0px 150px;
    padding: 0px 150px;
}

#autora{
    margin: 0px 150px;
    padding: 0px 150px;
}

#bugdroid{
    margin: 0px 400px;
    padding: 0px 150px;
}

iframe{
    border: 20px solid #195B38;
    background-color: #195B38;
    margin: 0px 425px;
}

section{
    border-radius: 10px;
    background-color: #C5EBD6;
}

section > p{
    
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    background-color: #2FA866;
}

article{
    padding-left: 20px;
    padding-bottom: 20px;
}

article > p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 20px;
}

mark{
    background-color:#3bd68371 ;
}

footer{
    background-color: #1A5C38;
    margin: 10px -10px -15px -15px;
}

footer > p{
    color: white;
    text-align: center;
}